.MessageForm{
    padding: 20px;
}

.link {
    color: inherit;
    text-decoration: none
}

.formPaper{
    padding: 20px;
    height: 60vh;
    margin-top: 10px;
}

.messageInput{
    margin-top: 10px;
}

.paper{
    padding: 20px;
    margin-top: 15px;
}
